[Desktop Entry]
Name=Licq (GTK+ GUI)
Comment=Unix/GTK+ ICQ clone
Comment[pl]=Klon ICQ pod Uniksa/GTK+
Exec=/usr/bin/licq -p gtk_gui
Terminal=false
Type=Application
# vi: encoding=utf-8
